**/node_modules
**/.next
**/out
**/dist
**/coverage
**/logs
**/*.tsbuildinfo
**/.turbo
**/next-env.d.ts

.git
.gitignore
.gitattributes
.npm-cache

**/.env
**/.env.local
**/.env.*.local

*.log

README.md
LICENSE
docker-compose.yml
