node_modules/
.npm-cache/
.pnp
.pnp.js

.next/
out/
build/
dist/
coverage/
*.tsbuildinfo
next-env.d.ts

logs/
*.log

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
